body{
    background-color: whitesmoke;
    color: rgb(66,66,66);
    font-weight:lighter;
    font-family: sans-serif;
}
#nav-bar-left{
    padding-left: 80px;
    padding-top: 18px;
    font-size: 35px;
}
#nav-bar-right{
    padding-right: 50px;
    padding-top: 50px;
    font-size: 25px;
}
#nav-bar-portfolio{
    padding-right: 70px;
}
#nav-bar-about{
    padding-right: 70px;
}
#nav-bar-contact{
    padding-right: 70px;
}
#photo{
    padding-top: 0px;
    width: 100px;
    border-radius: 50px;
}
#nav-bar-home{
    padding-right: 70px;
}
#nav-bar-button{
    padding-right: 70px;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }

