body{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-weight:lighter;
    font-family: sans-serif;
}
#nav-bar-left{
    padding-left: 80px;
    padding-top: 18px;
    font-size: 35px;
}
#nav-bar-right{
    padding-right: 50px;
    padding-top: 50px;
    font-size: 25px;
}
#nav-bar-portfolio{
    padding-right: 70px;
}
#nav-bar-about{
    padding-right: 70px;
}
#nav-bar-contact{
    padding-right: 70px;
}
#photo{
    padding-top: 0px;
    width: 100px;
    border-radius: 50px;
}
#nav-bar-home{
    padding-right: 70px;
}
#nav-bar-button{
    padding-right: 70px;
}
#icon{
    background-color: var(--primary-color);
    width: 30px;
}
:root{
    --primary-color: white;
    --secondary-color: black;
}
.dark-theme{
    --primary-color:black;
    --secondary-color:white;
}