body{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-weight:lighter;
    font-family: sans-serif;
}
#nav-bar-left{
    padding-left: 80px;
    padding-top: 18px;
    font-size: 35px;
}
#nav-bar-right{
    padding-right: 50px;
    padding-top: 50px;
    font-size: 25px;
}
#nav-bar-portfolio{
    padding-right: 70px;
}
#nav-bar-about{
    padding-right: 70px;
}
#nav-bar-contact{
    padding-right: 70px;
}
#photo{
    padding-top: 0px;
    width: 100px;
    border-radius: 50px;
}
#nav-bar-home{
    padding-right: 70px;
}
#nav-bar-button{
    padding-right: 70px;
}
#icon{
    background-color: var(--primary-color);
    width: 30px;
}
:root{
    --primary-color: white;
    --secondary-color: black;
    --third-color: red;
}
.dark-theme{
    --primary-color:black;
    --secondary-color:white;
    --third-color: red;
}
.light-theme{
    --primary-color: white;
    --secondary-color: black;
    --third-color: gray;
}
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    color: var(--third-color);
}
#about-me{
    border: solid;
    padding: 10px;
    margin-top: 15px;
    margin-left: 400px;
    margin-right: 400px;
    border-radius: 15px;
    
}
h1{
    text-align: center;
}
#portfolio-sites{
    font-size: 35px;
    text-align: center;
    

}
h2{
    text-align: center;
}